body{
    font-family:sans-serif;
}
hi {
    text-align: center;
    color: forestgreen;
    margin:30px 0 50px;
}
.gallery{
    margin:10px 50px;

}
.gallery img{
    width:230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: ls;
}
.gallery img:hover{
        filter:grayscale(0)
}